/* not implemented yet */
.chart {
    height: 160px;
}

#left-bottom, #right-bottom {
    float: left;
    width: 49%;
}

#rates-chart {
    padding-top: 20px;
}

#arena-table {
    overflow-y: auto;
    height: 310px;
}

table {
    width: 100%;
    text-align: center;
}

th, td {
    width: 25%;
}
