* { margin: 0px; padding: 0px; }
html, body { height: 100%; }
input, table, th { width: 100%; text-align: center; }
table { table-layout: fixed; }

/*
 * 'top' has a fixed height, while 'bottom' takes the rest.
 */
.flex-main { position: relative; box-sizing: border-box; }
.fixed-top { position: absolute; top: 0px; left: 0px; right: 0px; }
.flex-bottom { height: 100%; }

body { padding-top: 42px; }
.nav { height: 42px; }

#arena-page { padding-top: 160px; }
.arena-trend { height: 160px; }
.arena-bottom {}
    .arena-left { width: 66.67%; height: 100%; float: left; padding-top: 160px; }
        .arena-wins { height: 160px; }
        .arena-pies {}
            .arena-class-pie, .arena-wins-pie { width: 50%; height: 100%; float: left; }
    .arena-right { width: 33.33%; height: 100%; float: left;  padding-top: 88px; height: 100%; }
    	.arena-right-top { height: 88px; }
        	.arena-add, .arena-del { width: 50%; float: left; }
        .arena-right-bottom { overflow-y: scroll; }
